body {
  font-family: Arial, sans-serif;
}

h1 {
  margin: 0;
  text-align: center;
  color: white;
}

h2 {
  font-size: 20px;
  margin-bottom: -10px;
}

img {
  max-width: 100%;
  display: block;
  margin: auto;
}

.my-container {
  width: 280px;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.ml-8 {
  margin-left: 8px;
}

.bg-gray {
  background-color: gray;
}

.border {
  border: 1px solid black;
}

.rounded {
  border-radius: 6px;
}

@media (max-width: 315px) {
  .my-container {
    width: 80%;
  }
}
